<!-- https://www.googleapis.com/books/v1/volumes?q=SEARCH PHRASE -->
<nav style="background-color:rgb(208, 244, 250) ;" class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <strong class="navbar-brand">Books App</strong>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul style="margin-left: 75%;" class="navbar-nav">
        <li style="margin-right: 10px;" class="nav-item">
          <a routerLink="book-menu" routerLinkActive="active">Books</a>
        </li>
        <li class="nav-item">
          <a routerLink="author-menu" routerLinkActive="active">Authors</a>
        </li>
      </ul>
    </div>
    <!-- <button mat-raised-button [routerLink]="['/exit']" color="primary">Exit</button> -->
  </div>
</nav><br>

<router-outlet></router-outlet>
